body {
    background-color: #dbe8d8;
    /*max-width: 3000px;*/
    margin: 0 auto;
}

.text {
    color: #343A40;
}
.text_21{
    font-size: 20px;
    font-weight: bold;
}
.info{
    font-family: Arial, Helvetica, sans-serif;
}
.modal-header{
    background-color: #343A40;
    color: white;
}
.close{
    color: white;
    font-size: 40px;
}
.close:hover{
    color: white;
}

nav, footer {
    margin: 0 auto;
}

nav {
    max-width: 1142px;
}

.container {
    background-color: #fff;
}

.card {
    font-family: Arial, Helvetica, sans-serif;
}

#encora {
    font-size: 20px;
}

#tetris-footer {
    font-weight: bold;
    font-size: 20px;
    color: lightblue;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

#mijn_canvas {
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

/* font-awesome svg converted using icomoon */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?izveyd');
    src: url('../fonts/icomoon.eot?izveyd#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?izveyd') format('truetype'), url('../fonts/icomoon.woff?izveyd') format('woff'), url('../fonts/icomoon.svg?izveyd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-caret-square-up:before {
    content: "\e900";
}

.icon-caret-square-right:before {
    content: "\e901";
}

.icon-caret-square-left:before {
    content: "\e902";
}

.icon-caret-square-down:before {
    content: "\e903";
}

/* buttons joystick controller */

.btn-up-down {
    height: 40px;
    width: 40px;
    border: none;
    font-size: larger;
}

nav, .nav a {
    font-size: 25px !important;
}

.nav li {
    padding-right: 5px;
}

/* tele-worm */

#my_canvas {
    border: 2px solid #000;
    min-height: 200px;
}

#canvas_black {
    min-height: 100px;
    border: 2px solid #000;
}